# This part is for testing data processing

In [3]:
from tqdm import tqdm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from mlxtend.evaluate import feature_importance_permutation
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
pd.set_option('display.max_columns', None) # 看dataframe所有列

In [4]:
raw_test = pd.read_csv('./test_V2.csv')

In [4]:
raw_test.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,matchType,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,9329eb41e215eb,676b23c24e70d6,45b576ab7daa7f,0,0,51.46,0,0,0,73,0,0,0,0.00,1884,squad-fpp,28,28,1500,0,0.0,0,0.0,0,0,588.0,1,0
1,639bd0dcd7bda8,430933124148dd,42a9a0b906c928,0,4,179.10,0,0,2,11,0,2,1,361.90,1811,duo-fpp,48,47,1503,2,4669.0,0,0.0,0,0,2017.0,6,0
2,63d5c8ef8dfe91,0b45f5db20ba99,87e7e4477a048e,1,0,23.40,0,0,4,49,0,0,0,0.00,1793,squad-fpp,28,27,1565,0,0.0,0,0.0,0,0,787.8,4,0
3,cf5b81422591d1,b7497dbdc77f4a,1b9a94f1af67f1,0,0,65.52,0,0,0,54,0,0,0,0.00,1834,duo-fpp,45,44,1465,0,0.0,0,0.0,0,0,1812.0,3,0
4,ee6a295187ba21,6604ce20a1d230,40754a93016066,0,4,330.20,1,2,1,7,0,3,1,60.06,1326,squad-fpp,28,27,1480,1,0.0,0,0.0,0,0,2963.0,4,0

In [60]:
raw_test.shape

(1934174, 28)

In [6]:
clas = np.unique(raw_test['matchType'])

In [22]:
clas

array(['crashfpp', 'crashtpp', 'duo', 'duo-fpp', 'flarefpp', 'flaretpp',
       'normal-duo', 'normal-duo-fpp', 'normal-solo', 'normal-solo-fpp',
       'normal-squad', 'normal-squad-fpp', 'solo', 'solo-fpp', 'squad',
       'squad-fpp'], dtype=object)

# solo

In [11]:
condition_solo = [var for var in clas if 'solo' in var]
condition_solo

['normal-solo', 'normal-solo-fpp', 'solo', 'solo-fpp']

In [13]:
solodata_index = [i for i in range(raw_test.shape[0]) if raw_test['matchType'][i] in condition_solo]

In [14]:
raw_test_solo = raw_test.iloc[solodata_index]

In [61]:
raw_test_solo.shape

(313924, 28)

In [62]:
raw_test_solo.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,matchType,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
21,37ae98f31ca542,92469c1c2cb06a,307f17f1adddf5,0,0,0.0,0,0,0,53,1075,0,0,0.000,1380,solo-fpp,97,95,-1,0,0.0,0,4.894,0,0,0.00,0,1490
29,6425cf14b2d488,7759681be1a26c,190aa395a4d7f6,0,0,259.2,0,0,0,20,0,2,1,4.479,1880,solo,97,91,1480,0,0.0,0,0.000,0,0,436.80,2,0
30,494d3d9fad73b2,31bc05a6e3423c,bdd686c2da1b5a,0,0,0.0,0,0,0,87,0,0,0,0.000,1854,solo-fpp,98,98,1499,0,0.0,0,0.000,0,0,82.11,2,0
36,e59dd1435a2ecf,80bf485c130e3d,1fc78dfcd91a34,0,0,100.0,0,0,1,32,0,1,1,25.230,1413,solo-fpp,96,93,1488,0,0.0,0,0.000,0,0,571.70,5,0
41,3e4413d4780f7c,461a7e89c4cad7,8aba3eca8785e2,0,0,100.0,0,0,0,41,0,1,1,36.260,1389,solo-fpp,95,92,1567,0,0.0,0,0.000,0,0,28.49,1,0

In [63]:
test_solo = raw_test_solo.drop( ['groupId', 'matchId', 'DBNOs', 'matchType', 'numGroups', 'teamKills', 'revives'],axis=1)

In [90]:
test_solo.head()

,Id,assists,boosts,damageDealt,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,rankPoints,rideDistance,roadKills,swimDistance,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
21,37ae98f31ca542,0,0,0.0,0,0,53,1075,0,0,0.000,1380,97,-1,0.0,0,4.894,0,0.00,0,1490
29,6425cf14b2d488,0,0,259.2,0,0,20,0,2,1,4.479,1880,97,1480,0.0,0,0.000,0,436.80,2,0
30,494d3d9fad73b2,0,0,0.0,0,0,87,0,0,0,0.000,1854,98,1499,0.0,0,0.000,0,82.11,2,0
36,e59dd1435a2ecf,0,0,100.0,0,1,32,0,1,1,25.230,1413,96,1488,0.0,0,0.000,0,571.70,5,0
41,3e4413d4780f7c,0,0,100.0,0,0,41,0,1,1,36.260,1389,95,1567,0.0,0,0.000,0,28.49,1,0

In [64]:
test_solo.shape

(313924, 21)

In [65]:
#test_solo.to_csv('test_solo.csv',index=False)

# duo

In [7]:
condition_duo = [var for var in clas if 'duo' in var]
duodata_index = [i for i in range(raw_test.shape[0]) if raw_test['matchType'][i] in condition_duo]
raw_test_duo = raw_test.iloc[duodata_index]

In [26]:
raw_test_duo.shape

(584286, 28)

In [27]:
raw_test_duo.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,matchType,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,639bd0dcd7bda8,430933124148dd,42a9a0b906c928,0,4,179.10,0,0,2,11,0,2,1,361.900,1811,duo-fpp,48,47,1503,2,4669.0,0,0.0,0,0,2017.0,6,0
1,cf5b81422591d1,b7497dbdc77f4a,1b9a94f1af67f1,0,0,65.52,0,0,0,54,0,0,0,0.000,1834,duo-fpp,45,44,1465,0,0.0,0,0.0,0,0,1812.0,3,0
2,d812d2f1d88a02,6285bb4eec83e4,f185809740a1a7,0,3,470.70,3,2,17,3,0,5,1,57.610,1328,duo-fpp,49,48,1538,0,0.0,0,0.0,0,0,1000.0,4,0
3,29da9623f0e316,6a47335104d64e,ed3e886148b4e2,1,2,140.20,0,0,0,33,0,1,1,4.726,2066,duo-fpp,47,46,1669,0,0.0,0,0.0,0,0,193.1,5,0
4,2f42b452cf99f7,b0722175ef82c0,7b792d8dfba966,0,5,100.10,1,1,6,26,1420,1,1,12.550,1956,duo-fpp,49,48,-1,0,5780.0,0,0.0,0,0,1454.0,5,1538

In [42]:
duo_id_groupid = raw_test_duo[['Id','groupId']]
duo_id_groupid.head()

               Id         groupId
0  639bd0dcd7bda8  430933124148dd
1  cf5b81422591d1  b7497dbdc77f4a
2  d812d2f1d88a02  6285bb4eec83e4
3  29da9623f0e316  6a47335104d64e
4  2f42b452cf99f7  b0722175ef82c0

In [51]:
#duo_id_groupid.to_csv('./duo_id_groupid.csv',index=False)

In [12]:
raw_duo_merge = raw_test_duo.groupby('groupId').mean()

In [13]:
raw_duo_merge.shape

(284895, 24)

In [15]:
raw_duo_merge.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
groupId,,,,,,,,,,,,,,,,,,,,,,,,
0000120038fb95,0.5,1.5,111.75,0.0,0.0,1.5,28.5,1262.0,1.0,0.5,31.0700,1884.0,48.0,45.0,-1.0,0.5,672.0,0.0,0.0,0.0,0.0,2365.000,7.5,1501.0
00001e221235dd,0.0,1.0,415.95,2.0,1.0,4.0,31.0,1347.5,2.0,1.0,17.7800,1337.0,50.0,47.0,-1.0,0.5,0.0,0.0,0.0,0.0,0.0,448.150,3.5,1488.0
0000d3df0acf5c,0.0,0.0,85.90,0.5,0.5,0.0,67.0,0.0,0.5,0.5,0.9305,1368.0,49.0,48.0,1485.0,0.0,0.0,0.0,0.0,0.0,0.0,61.585,1.5,0.0
0000d3eee3074c,0.5,1.5,203.50,1.5,0.5,1.0,19.5,0.0,1.5,1.0,138.3000,1377.0,46.0,44.0,1514.0,0.0,1001.2,0.0,0.0,0.0,0.0,1878.000,7.0,0.0
00012cab978c56,1.5,6.0,520.70,2.5,1.0,6.5,10.5,0.0,5.0,1.5,91.9100,1878.0,49.0,47.0,1500.0,1.5,4081.0,0.0,0.0,0.0,0.0,3155.000,6.5,0.0

In [16]:
#raw_duo_merge.to_csv('test_duo.csv')

# squad

In [17]:
condition_squad = [var for var in clas if 'squad' in var]
squaddata_index = [i for i in range(raw_test.shape[0]) if raw_test['matchType'][i] in condition_squad]
raw_test_squad = raw_test.iloc[squaddata_index]

In [44]:
raw_test_squad.shape

(1032314, 28)

In [19]:
raw_test_squad.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,matchType,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,9329eb41e215eb,676b23c24e70d6,45b576ab7daa7f,0,0,51.46,0,0,0,73,0,0,0,0.00,1884,squad-fpp,28,28,1500,0,0.0,0,0.0,0,0,588.0,1,0
2,63d5c8ef8dfe91,0b45f5db20ba99,87e7e4477a048e,1,0,23.40,0,0,4,49,0,0,0,0.00,1793,squad-fpp,28,27,1565,0,0.0,0,0.0,0,0,787.8,4,0
4,ee6a295187ba21,6604ce20a1d230,40754a93016066,0,4,330.20,1,2,1,7,0,3,1,60.06,1326,squad-fpp,28,27,1480,1,0.0,0,0.0,0,0,2963.0,4,0
5,3e2539b5d78183,029b5a79e08cd6,10186f5c852f62,0,0,0.00,0,0,0,89,0,0,0,0.00,1775,squad-fpp,29,29,1490,0,0.0,0,0.0,0,0,0.0,0,0
7,a8a377e4d43bf8,61ec2e7730a3b8,d31adc82a4930e,0,0,68.61,0,0,0,73,0,0,0,0.00,1870,squad-fpp,29,27,1487,0,0.0,0,0.0,0,0,1217.0,5,0

In [45]:
squad_id_groupid = raw_test_squad[['Id','groupId']]
squad_id_groupid.head()

               Id         groupId
0  9329eb41e215eb  676b23c24e70d6
2  63d5c8ef8dfe91  0b45f5db20ba99
4  ee6a295187ba21  6604ce20a1d230
5  3e2539b5d78183  029b5a79e08cd6
7  a8a377e4d43bf8  61ec2e7730a3b8

In [52]:
#squad_id_groupid.to_csv('./squad_id_groupid.csv',index=False)

In [20]:
raw_squad_merge = raw_test_squad.groupby('groupId').mean()

In [21]:
raw_squad_merge.shape

(295427, 24)

In [22]:
raw_squad_merge.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
groupId,,,,,,,,,,,,,,,,,,,,,,,,
00000b5b45f70c,0.333333,6.333333,100.186667,1.00,0.0,6.666667,35.00,0.0,1.00,0.333333,22.116667,1586.0,26.0,25.0,1495.333333,0.666667,5755.333333,0.333333,0.0,0.0,0.0,1472.333333,5.00,0.00
00000fb8f2208b,0.500000,0.000000,47.300000,0.00,0.0,0.000000,70.50,0.0,0.00,0.000000,0.000000,1359.0,30.0,29.0,1419.500000,0.000000,0.000000,0.000000,0.0,0.0,0.0,290.850000,4.00,0.00
000022937e1c55,0.000000,1.000000,80.750000,0.75,0.0,1.500000,62.75,0.0,0.25,0.250000,4.830000,1420.0,26.0,26.0,1486.000000,0.250000,0.000000,0.000000,0.0,0.0,0.0,264.050000,2.25,0.00
000030557443b6,0.500000,3.000000,344.000000,2.00,0.0,0.500000,21.00,1389.0,1.50,1.000000,16.395000,1341.0,31.0,31.0,-1.000000,0.500000,0.025450,0.000000,25.1,0.0,0.0,3337.500000,6.00,1534.00
00004175e20fe7,0.250000,0.500000,69.885000,0.00,0.0,1.750000,52.50,1148.5,0.25,0.250000,0.937000,1982.0,28.0,28.0,-1.000000,0.500000,974.250000,0.000000,0.0,0.0,0.0,715.514300,3.25,1464.75

In [23]:
#raw_squad_merge.to_csv('test_squad.csv')

# other

In [24]:
condition_other = ['crashfpp', 'crashtpp', 'flarefpp', 'flaretpp']
otherdata_index = [i for i in range(raw_test.shape[0]) if raw_test['matchType'][i] in condition_other]
raw_test_other = raw_test.iloc[otherdata_index]

In [56]:
raw_test_other.shape

(3650, 28)

In [57]:
raw_test_other.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,matchType,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
781,a4943dd17dcb11,61a1b2e536d418,3ebedfd7b5a0bd,0,0,57.430,0,0,0,77,0,0,0,0.0,919,crashtpp,43,42,1500,0,0.0,0,0.0,0,0,281.70,1,0
1613,ef72584125b706,e8035b15fcff63,7cd12422a39fad,0,0,4.774,1,0,0,67,0,0,0,0.0,890,crashfpp,51,45,1500,0,1774.0,0,0.0,0,0,423.90,2,0
2536,d1d9e926ba874d,fdc024aa78f068,c3b736fd180ed5,0,0,0.000,0,0,0,71,0,0,0,0.0,903,crashfpp,51,46,1500,0,131.7,0,0.0,0,0,189.70,1,0
2573,32aed0f33cadf9,490f0ff7d50d26,c733b845c133ee,0,0,0.000,0,0,0,73,0,0,0,0.0,897,crashfpp,46,42,1500,0,1568.0,0,0.0,0,0,113.90,1,0
2631,42337be5970209,7dd77ad11bdb91,d96b5520dd5971,0,0,0.000,0,0,0,61,0,0,0,0.0,877,crashfpp,32,31,1500,0,0.0,0,0.0,0,0,40.93,0,0

In [49]:
other_id_groupid = raw_test_other[['Id','groupId']]
other_id_groupid.head()

                  Id         groupId
781   a4943dd17dcb11  61a1b2e536d418
1613  ef72584125b706  e8035b15fcff63
2536  d1d9e926ba874d  fdc024aa78f068
2573  32aed0f33cadf9  490f0ff7d50d26
2631  42337be5970209  7dd77ad11bdb91

In [54]:
#other_id_groupid.to_csv('./other_id_groupid.csv',index=False)

In [58]:
raw_other_merge = raw_test_other.groupby('groupId').mean()

In [59]:
raw_other_merge.shape

(1642, 24)

In [60]:
raw_other_merge.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
groupId,,,,,,,,,,,,,,,,,,,,,,,,
000330241fb75b,0.0,0.25,113.3325,0.5,0.5,0.5,41.5,0.0,0.5,0.5,40.600,1781.0,24.0,24.0,1500.0,0.25,1585.5,0.0,0.000,0.0,0.0,2201.00,6.0,0.0
000889fecd6a67,0.0,3.50,73.9500,0.5,0.0,1.0,21.5,0.0,1.5,1.0,21.015,906.0,48.0,46.0,1500.0,0.00,6116.5,1.5,0.000,0.0,0.0,407.60,2.5,0.0
00438c61c81452,0.0,1.00,39.1600,0.0,0.0,0.5,61.5,0.0,0.0,0.0,0.000,897.0,49.0,46.0,1500.0,0.00,0.0,0.0,3.349,0.0,0.0,1221.05,0.5,0.0
009a3e3fa4f021,0.0,3.00,0.0000,0.0,0.0,4.0,55.0,0.0,0.0,0.0,0.000,865.0,50.0,49.0,1500.0,0.00,0.0,0.0,55.440,0.0,0.0,2120.00,0.0,0.0
00a566d6c39132,0.0,1.00,0.0000,0.0,0.0,1.0,57.0,0.0,0.0,0.0,0.000,866.0,51.0,49.0,1500.0,0.00,3049.0,0.0,0.000,0.0,1.0,618.10,3.0,0.0

In [61]:
#raw_other_merge.to_csv('test_other.csv')

# Combination

In [62]:
y_solo = pd.read_csv('./predict_for_y/y_solo.csv')

In [63]:
y_duo = pd.read_csv('./predict_for_y/y_duo.csv')

In [64]:
y_squad = pd.read_csv('./predict_for_y/y_squad.csv')

In [65]:
y_other = pd.read_csv('./predict_for_y/y_other.csv')

In [66]:
y_final = pd.concat([y_solo,y_duo,y_squad,y_other])

In [67]:
y_final.head()

               Id  winPlacePerc
0  37ae98f31ca542      0.682146
1  6425cf14b2d488      0.350541
2  494d3d9fad73b2      0.111602
3  e59dd1435a2ecf      0.567701
4  3e4413d4780f7c      0.147489

In [68]:
y_final.shape

(1934174, 2)

In [70]:
#y_final.to_csv('./predict_for_y/final_prediction.csv',index=False)